<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Concept Drift</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type=text/javascript src="{{ url_for('static', filename='handle.js') }}"></script>
    <script type='text/javascript'>
        $(document).ready(function () {
            if ($("[rel=tooltip]").length) {
                $("[rel=tooltip]").tooltip();
            }
        });
    </script>
</head>
<body>
<h1>Filter Concept</h1>
<p><input type=text size=5 name=filter_id value="37">
    <input type=text size=5 name=bucketsize value="5">
    <input type=text size=5 name=top_x value="5">
</p>
    <span id=result>?</span>
<p><a href=# id=get_concept>Get concept</a>

<div id="page">
    <div id="top-bar">
        <div class="top-bar__inner">
            Concept Drift
        </div>
        <div class="top-bar__inner">

        </div>
    </div>
    <div class="content">
        <div id="chart" class="chart">
        </div>
        <div id="adds"></div>
        <div id="rems"></div>
    </div>
</div>
</body>
<script>
    let handler;
    handler = conceptHandler();


</script>
<!--
<script type=text/javascript src="{{
  url_for('static', filename='bars.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='streamgraph.js') }}"></script>
  -->
</html>